body{
    background-color:aqua;
}

.main{
    background-color: yellow;
    padding: 20px;
    margin-top: 200px;
    border: 10px solid blue;
    color: black;
    width: 1000px;
    height: 420px;
}

.welcomeTitle{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
}

.LotNum{
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
}

.subtitle{
    font-size: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.secondTitle{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    text-transform: capitalize;
}

.secondSubTitle{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}

.secondSubTitleC{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color:blue;
}

.parkinglot{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
    color:blue;
}

.error{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: bolder;
}